.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 30px; /* Increase the width of the loader for better spacing */
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #C1C8E3 90%, #0000);
  background: 
    var(--_g) 0%    50%,   
    var(--_g) 33%   50%,   
    var(--_g) 66%   50%,   
    var(--_g) 100%  50%;   
  background-size: calc(100% / 4) 50%; 
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {background-position: 0%   0%, 33% 50%, 66% 50%, 100% 50%}
  40% {background-position: 0% 100%, 33% 0%, 66% 50%, 100% 50%}
  60% {background-position: 0% 50%, 33% 100%, 66% 0%, 100% 50%}
  80% {background-position: 0% 50%, 33% 50%, 66% 100%, 100% 0%}
}

